* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* gostei da fonte inter, usei no figma e é legível */
body {
    margin: 0;
    background: #f5f6fa;
    color: #111;
}

.navbar {
    height: 80px;
    background: #111a2c;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 20px;
    border-bottom: 1px solid #65718a;
}

/* .logo span {
            color: #d8b84d;
        } */

.search {
    flex: 1;
    display: flex;
    border-radius: 35px;
    height: 25px;
}

.category {
    background: white;
    border: none;
    border-right: 1px solid #aaa;
    font-size: 12px;
}

.search input {
    flex: 1;
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

.login {
    background: #2563eb;
    color: white;
    border-radius: 15px;
    padding: 5px 14px;
}

.cart-button-landing {
    background: #16c784;
    color: white;
    border-radius: 15px;
    padding: 5px 14px;
}

.hero {
    background: #111a2c;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 320px;
    height: 70px;
    background: #697993;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding-top: 8px;
}

.banner h2 {
    margin: 0;
    font-size: 15px;
}

.banner .brand {
    font-size: 28px;
}

.brand span {
    color: #e4bd43;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/* mudei a porra toda 
peguei inspiracao no blog do trainee */
.card {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-color: #ef4444;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.title {
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #ef4444;
}
.price-row {
    margin-top: auto;
    margin-bottom: 10px;
}

.buy {
    width: 100%;
    background: #10b981;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    padding: 8px;
    transition: background 0.2s;
}

.buy:hover {
    background: #ef4444;
}

.details {
    text-align: center;
    font-size: 7px;
    margin-top: 8px;
    color: #333;
}
